# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual environments
venv/
env/
.venv/
.env/

# PyInstaller
*.manifest
*.spec

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Test / coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# mypy
.mypy_cache/

# Pycharm
.idea/

# OS files
.DS_Store
Thumbs.db

custom_components_test/

commit_notes.md
*.json
output_tests.log 